*{
  margin: 0;
  padding: 0;
 
}
body::-webkit-scrollbar {
  display: none;
}

body{
  
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 110vh;
}
.container-count-panel{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
h1{
  color: white;
  align-items: center;
}

