.custom-timer-cont {
  max-width: 6em;
  height: 4em;
  margin: 0;
  background-color: whitesmoke;
  opacity: 0.98;
  transform: translateX(150%);
  border-radius: 8%;
}
/* CSS for Timer Increment and Decrement  */
form {
  width: 6em;
  margin: 0 auto;
  margin-top: 0.5em;
  text-align: center;
  padding: 0;
  transform: translateY(70%);
}
.value-button {
  display: inline-block;
  border: 1px solid #ddd;
  margin: 0px;
  width: 1.2em;
  height: 1.5em;
  text-align: top;
  font-size: 1.7rem;
  vertical-align: middle;
  padding: 0;
  background: #eee;
  user-select: none;
}

.value-button:hover {
  cursor: pointer;
}

form #decrease {
  margin: 15px;
  border-radius: 8px 0 0 8px;
}

form #increase {
  margin: 15px;
  border-radius: 0 8px 8px 0;
}

form #input-wrap {
  margin: 0px;
  padding: 0px;
}

input#number {
  text-align: center;
  border-radius: 15%;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  font-size: 1.9rem;
  margin: 0px;
  width: 2em;
  height: 2em;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
@media only screen and (max-width: 767px) {
  .custom-timer-cont {
    max-width: 70%;
    height: 3em;
    transform: translateX(0);
    margin-left: 0.8em;
    background-color: rgba(245, 245, 245, 0);
  }
  form {
    width: 80%;
    transform: translateY(50%);
  }
  .value-button {
    width: 1em;
    height: 1.5em;
    font-size: 0.8rem;
  }
  input#number {
    font-size: 1.5rem;
    width: 1.5em;
    height: 1.5em;
  }
}
