.header{
    display: flex;
    padding: 0px 0.5em 1em 0.5em;
    align-items: center ;
    color: white;
    justify-content: space-between;
    font-family: 'Mukta', sans-serif;
    
    
}
.header-center{
  margin-left: -1.2em;
}

.header-btn {
    font-size: 18px;
    font-weight: 600;
    padding: 12px 16px;
    margin-top:0px;
    margin-left: 1.7em;
    margin-right: 1.7em;
    border: none;
    background-color: rgba(255, 255, 255, 0.7);
    color: #444;
    border-radius: 10rem;
    cursor: pointer;
  }
  .header-btn:hover{
    background-color: white;
  }
  .header-left>img {
    width: 35px;
    filter: brightness(0) invert(1);
    opacity: 0.5;
  }
  .header-left>img:hover{
    opacity: 1;
  }

  /* Responsive styles for screens smaller than 768px */
@media (max-width: 767px) {
  .header {
    flex-wrap: wrap;
    padding: 0px 0.5em 0.2em 0.5em;
    height: 500px;
  }

  .header-btn {
    margin: 0.5em;
  }

  .header-center {
    order: 3;
    margin: 0;
  }

  .header-left {
    order: 1;
    margin: 0.5em;
  }
}