.header{
    display: flex;
    padding: 0px 0.5em 1em 0.5em;
    align-items: center ;
    color: white;
    justify-content: space-between;
    font-family: 'Mukta', sans-serif;
}
.header-center{
  margin-left: 1.5em;
}

.header-btn {
    font-size: 18px;
    font-weight: 600;
    padding: 12px 16px;
    margin-top:0px;
    margin-left: 1.7em;
    margin-right: 1.7em;
    border: none;
    background-color: rgba(255, 255, 255, 0.7);
    color: #444;
    border-radius: 10rem;
    cursor: pointer;
  }
  .header-btn:hover{
    background-color: white;
  }
  
  .shift-right {
    transition: 0.5s ease-in-out;
    transition-delay: 0s;
    transform: translateX(2.7em);
  }
  
  .header-left>img {
    width: 35px;
    filter: brightness(0) invert(1);
    opacity: 0.5;
  }
  .header-left>img:hover{
    opacity: 1;
  }
  .shifted {
    margin-left: 3.2em;
  }
   /* Responsive styles for screens smaller than 768px */
@media (max-width: 767px) {
  .header {
    flex-wrap: wrap;
    padding: 0px 0.15em 0.15em 0.15em;
    max-height: 365px;
    
  }

  .header-btn {
    margin: 0.3em;
    font-size: 16px;
  }

  .header-center {
    order: 3;
    margin: 0;
  }

  .header-left {
    order: 1;
    margin: 0.2em;
  }
  .shift-right {
    transition: 0.5s ease-in-out;
    transition-delay: 0s;
    transform: translateX(-0.8em) translateY(-0.2em);
  }
}