@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;400;700&display=swap');

body::-webkit-scrollbar {
    width: 0.2em;
    background-color: #F5F5F5;
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: #000000;
  }
   
  body::-webkit-scrollbar-track {
    background-color: #F5F5F5;
  }
  