.Timer-panel-btn {
    font-size: 18px;
    font-weight: 600;
    padding: 12px 16px;
    margin-top:0.5rem;
    margin-left:0.6rem;
    margin-right:0.6rem;
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    color: #444;
    border-radius: 10rem;
    cursor: pointer;
  }
  .Timer-panel-btn:hover{
    background-color: white;
  }